*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

a{
    text-decoration: none;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}




/*--------------------------------------------Початок блок 1-------------------------------------*/
.block_1 {
    position: relative;
    background-image: url('images/main_banner_2.png');
    background-size: cover;
    background-position: center;
    height: 71.19vh;
}
.block_1_logo{
    color: #FF4B32;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 130%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}
.block_1_logo img{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    margin-bottom: 0.9765vh;

    display: flex;
    justify-content: center;
    align-items: center;

}
.block_1_logo>span{
    margin-left: 0.34722vw;
    margin-right: 3.4722vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_1_navigation {
    height: 9.7656vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 37.30vh;
}
.block_1_home > a:nth-child(1) > span {
    color: #FF4B32;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    font-family: "Open Sans", sans-serif;
    opacity: 1;
}
.block_1_home > a:not(:nth-child(1)) > span{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.block_1_home>a>span{
    margin: 15px ;
    opacity: 0.5 ;
}
.block_1_home>a>span:hover {
    margin: 25px ;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.block_1_black{
    width: 46.53vw;
    margin-left: 10.07vw;

}
.title{
    min-width: 46.39vw;
    color: #FFF;
    font-size: 3.625rem;
    font-style: normal;
    font-weight: 500;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    line-height: 4.2125rem;

}
.text{
    width: 45.14vw;
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    opacity: 0.8;
    margin-bottom: 2.25rem;
}
.button{
    padding: 1rem 2rem;
    align-items: flex-start;
    border-radius: 5px;
    background: #FF4B32;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    display: flex;
    justify-content: center;
    width: 10.28rem;

}
/*-------------------------------------------------Кінець блок 1---------------------------------------*/


/*-------------------------------------------------Початок блок 2-------------------------------------*/

.block_2_choice{
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 3rem;
    flex-shrink: 0;
}
.block_2_text{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 79.7vw;
    margin: 0 10vw;
}

.block_2_coffee_cost{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 79.79vw;
    height: 100%;
    margin: 0 10vw;
}

.block_2_coffee_5, .block_2_coffee_4, .block_2_coffee_3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    /*width: 21.53vw;*/

}
.block_2_dollar_price{
    flex-direction: row;
}

.block_2_text>h1{
    width: 40.97vw;
    color: #000;
    font-size: 2.6875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 6px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
}
.block_2_text>p{
    width: 35.14vw;
    color: #000;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    opacity: 0.7;
    margin-bottom: 5.8593vh;

}
.block_2_dollar{
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
}
.block_2_price{
    color: #0C0D0C;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
}
h2{
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
}
.block_2_coffee_cost p{
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    width: 17.8vw;
    /*margin:*/
}
/*-------------------------------------------------Кінець блок 2---------------------------------------*/






/*-------------------------------------------------Початок блок 3-------------------------------------*/

.block-3-section-flex{
    height: 100%;
    width: 100%;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#block-3-id-div-width79{
    width: 79.7vw;

    margin-top: 5rem;
    margin-bottom: 5rem;
}

.block-3-h2-OurGallery{
    color: #000;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;

    margin-bottom: 1.25rem;
}

.block3-p-txt-coffee{
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    margin-bottom: 3.75rem;
}

.block-3-flex-img-1-6-all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block-3-flex-img-by3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.block-3-img-1-3{
    width: 25vw;
    height: 100%;
    margin: 0 0.9rem 1.8rem 0.9rem;
}

.block-3-img-4-6{
    width: 25vw;
    height: 100%;
    margin: 0 0.9rem 4.6rem 0.9rem;
}

.block-3-a-p-LoadMore{
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
/*-------------------------------------------------Кінець блок 3---------------------------------------*/

/*---------------------------------------------------------Початок блок 4--------------------------------*/

#block-4-id-section{
    min-height: 64vh;
    background-image: url(./images/follow_us.png);
    background-size: cover;
}

.block-4-all-elements{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 6rem;
    margin-bottom: 7rem;
}

.block-4-class-section-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block-4-span-FollowUs{
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.block-4-h2-txt-inquiry{
    color: #FFF;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;

    margin-top: 4rem;
    margin-bottom: 3.75rem;
}

/*---------------- щоб опустити іконку телефону на рівні з номером---------*/
.block-4-icon-Telephone{
    margin-bottom: -0.192rem;
}

.block-4-span-Telephone{
    color: #FFF;
    text-align: center;

    /* Subheading / Base */
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */

    margin-left: 0.9rem;
}

/*-------відступи довкола пошти----*/
.block-4-a-gmail{
    margin-bottom: 1.8rem;
    margin-top: 1.6rem;
}

.block-4-span-gmail{
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    margin-left: 0.9rem;
}

/*------------ відступи довкола іконок--------*/
.block-4-class-a-icon-nav{
    margin: 0 1.25rem;
    height: 4.9vh;
    width: 3.5vw;
}
/*-------------------------------------------------Кінець блок 4---------------------------------------*/




/*---------------------------------------------------------Початок блок 5--------------------------------*/

.block-5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-5-wrapper {
    min-width: 79.7vw;
}

.block-5-h1 h1 {
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.4rem;
    letter-spacing: 6px;
    margin: 0;
    padding: 0;
}

.block-5-p p {
    color: #000;
    text-align: center;
    /* Body / Base */
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
    opacity: 0.7;
    margin: 0;
    padding: 0;
}

.block5-products-s {
    display: flex;
    justify-content: space-around;
}

.block5-product-1-img img,
.block5-product-2-img img,
.block5-product-3-img img {
    width: 21.5vw;
    height: 100%;
}


.block5-product-1-name h2,
.block5-product-2-name h2,
.block5-product-3-name h2 {
    color: #000;
    /* Heading / Base */
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.6rem;
}

.block5-product-1-more p a,
.block5-product-2-more p a,
.block5-product-3-more p a{
    color: #FF4B32;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem;
}

.block5-product-2-description p,
.block5-product-1-description p,
.block5-product-3-description p {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
    opacity: 0.6;
}

.block5-product-3-description,
.block5-product-2-description,
.block5-product-1-description {
    max-width: 17.8vw;
}

.block5-product-3,
.block5-product-2,
.block5-product-1 {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0 rgba(0, 0, 0, 0.20);
}

.block-5 {
    padding-top: 9.5rem;
}

.block-5-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block-5-p {
    width: 42.2vw;
    padding-bottom: 3.75rem;
}

.block5-product-2-name,
.block5-product-2-description,
.block5-product-3-name,
.block5-product-3-description,
.block5-product-1-name,
.block5-product-1-description {
    padding-left: 2.1rem;
    padding-top: 1.8rem;
}

.block5-product-1-more,
.block5-product-2-more,
.block5-product-3-more {
    padding-left: 2.3rem;
    padding-top: 1.2rem;
    padding-bottom: 1.8rem;
}

.block-5-h1 {
    padding-bottom: 1.2rem;
}

.block-6 {
    background-image: url('./images/footer.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height:39.6vh;
}

.block-6-3-text,
.block-6-2-text,
.block-6-3-upper,
.block-6-2-upper,
.block-6-1-text,
.block-6-4-upper,
.block-6-bottom {
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}

.block-6-3-text a,
.block-6-2-text a,
.block-6-3-upper a,
.block-6-2-upper a,
.block-6-1-text a,
.block-6-4-upper a,
.block-6-bottom a {
    color: #FFF;
}

.block-6-2-upper,
.block-6-3-upper,
.block-6-1-upper,
.block-6-4-upper {
    margin-top: 1.3rem;
}

.block-6 {
    margin-top: 8.7rem;
    width: 100%;
}

.block-6-wrapper {
    display: flex;
    justify-content:space-around;
    width: 79.7vw;
    min-height: 38.5vh;
}

.block-6-wr-flex {
    display: flex;
    justify-content: center;

}

.block-6-wrapper {
    margin-top: 3.6rem;
}

.block-6-2-text,
.block-6-3-text {
    margin-top: 1.2rem;
}

.block-6-1-text {
    width: 21vw;
}

.block-6-1-text-w-phone {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-6-4-social {
    margin-top: 2.2rem;
}

.block-6-4-social img{
    padding-right: 1.7rem;
}

.block-6-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space{
    height: 22px;
    width: 100%;
}

.block-6-bottom span {
    color: #FFF;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.1rem;
}

a {
    text-decoration: none;
}

.block-6-bottom {
    padding-bottom:  3.3rem;
}

.telephone-link {
    margin-right: 0.5rem;
}

/*-------------------------------------------------Кінець блок 6---------------------------------------*/








