@media screen and (max-width: 600px) {

    html {
        font-size: 14px;
    }



    /*--------------------------------------------Початок блок 1-------------------------------------*/
    .block_1 {
        position: relative;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/main_banner_2.png');
        background-size: cover;
        background-position: 70%;
        height: 71.19vh;

    }
    .block_1_logo{
        margin-left: 40%;
    }
    .block_1_logo>span{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .block_1_navigation {
        height: 13vh;
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        overflow-wrap: break-word;

        margin-left: 0;

    }
    .block_1_home {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        overflow-wrap: break-word;
        margin-left: 10vh;


    }
    .block_1_home > a {
        flex-basis: 30%;
        text-align: center;
    }
    .block_1_home > a > span {
        margin: 3px;
        opacity: 0.5;
        white-space: nowrap;
    }

    .block_1_home>a>span:hover {
        margin: 5px;
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    .block_1_black {
        width: 90vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 3vh;
    }
    .title{
        width: 90vw;
        font-size: 2.5rem;
        line-height: 2rem;

    }

    .text{
        width: 90vw;
        font-size: 1.2rem;
        line-height: 2rem;

    }
    .button {
        padding: 0.75rem 1rem;
        border-radius: 1px;
        font-size: 1rem;
        width: 7rem;
        white-space: nowrap;
    }

    /*-------------------------------------------------Кінець блок 1----------------------------------*/


    /*--------------------------------------------Початок блок 2-------------------------------------*/
    .block_2_choice {
        height: auto;
        flex-shrink: 0;
    }
    .block_2_coffee_cost{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: auto;
    }
    .block_2_text{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    .block_2_choice h1 {
        width: 80vw;
        font-size: 2.5rem;
    }
    .block_2_choice p {
        width: 80vw;
        font-size: 1.5rem;
        opacity: 0.7;
        margin-bottom: 5.8593vh;
    }

    h2 {
        color: #000;
        font-size: 2rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        white-space: nowrap;
    }
    .block_2_coffee_cost p {
        font-size: 1rem;
        width: 80vw;
    }
    /*-------------------------------------------------Кінець блок 2----------------------------------*/




    /*--------------------------------------------Початок блок 3-------------------------------------*/
    .block-3-section-flex{
        height: 100%;
    }

    .block-3-flex-img-by3{
        flex-direction: column;
    }

    .block-3-img-1-3{
        width: 80vw;
        height: 100%;
        margin: 0 1.04vw 2.9vh 1.04vw;
    }

    .block-3-img-4-6{
        width: 80vw;
        height: 100%;
        margin: 0 1.04vw 2.9vh 1.04vw;
    }
    /*-------------------------------------------------Кінець блок 4----------------------------------*/




    /*--------------------------------------------Початок блок 5-------------------------------------*/
    .block5-products {
        display: flex;
        flex-direction: column;
    }

    .block5-product-1-img img,
    .block5-product-2-img img,
    .block5-product-3-img img {
        width: 100%;
        height: 100%;
    }

    .block5-products {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .block5-products-s {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .block5-product-1,
    .block5-product-2,
    .block5-product-3 {
        margin-top: 1rem;
    }

    .block-6-wrapper {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        width: 79.7vw;
        min-height: 38.5vh;
    }

    .block-6-1-text {
        width: 100%;
        margin-top: 0.2rem;
    }

    .logo {
        width: 100%;
    }

    .block-6-1,
    .block-6-2,
    .block-6-3,
    .block-6-4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .block-6-1-text {
        text-align: center;
    }

    .block-6-bottom {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

    .block5-product-2-name,
    .block5-product-2-description,
    .block5-product-3-name,
    .block5-product-3-description,
    .block5-product-1-name,
    .block5-product-1-description {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        padding-left: 0;

    }

    .block5-product-1-more,
    .block5-product-2-more,
    .block5-product-3-more {
        justify-content: center;
        align-items: center;
        padding: 2rem;
        text-align: center;
    }

    .block5-product-3-description,
    .block5-product-2-description,
    .block5-product-1-description {
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .block5-product-1,
    .block5-product-2,
    .block5-product-3 {
        width: 80vw;
    }

    .block5-product-3-description,
    .block5-product-2-description,
    .block5-product-1-description {
        max-width: 80vw;
    }
    /*-------------------------------------------------Кінець блок 6----------------------------------*/

}
